In [159]:
import os
import pandas as pd
os.chdir(r'/Users/anceaumathilde/data-ft-par-labs/Statistically_Significant_Insights/gas_source')
df = pd.read_csv('Final_Gas_Emission.csv')

In [160]:
df.head()

,Unnamed: 0,Country,Data source,Sector,Gas,Unit,2018,2017,2016,2015,...,1998,1997,1996,1995,1994,1993,1992,1991,1990,Somme
0,0,Afghanistan,CAIT,Total excluding LUCF,CO2,MtCO₂e,7.44,7.38,7.39,7.99,...,1.05,1.10,1.18,1.25,1.30,1.36,1.43,2.74,2.96,229.16
1,12,Angola,CAIT,Total excluding LUCF,CO2,MtCO₂e,27.34,30.84,35.41,35.16,...,11.37,11.73,11.41,10.78,6.69,6.90,6.37,6.53,6.33,1131.34
2,24,Albania,CAIT,Total excluding LUCF,CO2,MtCO₂e,5.56,5.60,4.93,5.07,...,1.80,1.48,1.97,1.95,2.14,2.07,2.24,4.11,6.05,223.04
3,36,Andorra,CAIT,Total excluding LUCF,CO2,MtCO₂e,0.46,0.47,0.47,0.47,...,0.49,0.47,0.45,0.43,0.41,0.41,0.41,0.41,0.41,28.20
4,40,United Arab Emirates,CAIT,Total excluding LUCF,CO2,MtCO₂e,200.30,208.25,199.46,194.04,...,83.85,81.45,75.81,72.64,68.29,62.15,59.64,61.50,55.40,7113.66

In [161]:
list(df.Country)

['Afghanistan',
 'Angola',
 'Albania',
 'Andorra',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Switzerland',
 'Chile',
 'China',
 "Côte d'Ivoire",
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of Congo',
 'Cook Islands',
 'Colombia',
 'Comoros',
 'Cape Verde',
 'Costa Rica',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'European Union (27)',
 'Finland',
 'Fiji',
 'France',
 'Micronesia',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Guinea',
 'Gambia',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guyana',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'India',
 'Ireland',
 'Iran',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'Kiribati',
 'Saint Kitts and Nevis',
 'South Korea',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Liberia',
 'Libya',
 'Saint Lucia',
 'Liechtenstein',
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Morocco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Mexico',
 'Marshall Islands',
 'Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Montenegro',
 'Mongolia',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'Namibia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Niue',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'North Korea',
 'Portugal',
 'Paraguay',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'Somalia',
 'Serbia',
 'South Sudan',
 'Sao Tome and Principe',
 'Suriname',
 'Slovakia',
 'Slovenia',
 'Sweden',
 'Eswatini',
 'Seychelles',
 'Syria',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Timor-Leste',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'Saint Vincent and the Grenadines',
 'Venezuela',
 'Vietnam',
 'Vanuatu',
 'World',
 'Samoa',
 'Yemen',
 'South Africa',
 'Zambia',
 'Zimbabwe',
 'Afghanistan',
 'Angola',
 'Albania',
 'Andorra',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Switzerland',
 'Chile',
 'China',
 "Côte d'Ivoire",
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of Congo',
 'Colombia',
 'Comoros',
 'Cape Verde',
 'Costa Rica',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'European Union (27)',
 'Finland',
 'Fiji',
 'France',
 'Micronesia',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Guinea',
 'Gambia',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guyana',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'India',
 'Ireland',
 'Iran',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'Kiribati',
 'Saint Kitts and Nevis',
 'South Korea',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Liberia',
 'Libya',
 'Saint Lucia',
 'Liechtenstein',
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Morocco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Mexico',
 'Marshall Islands',
 'Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Montenegro',
 'Mongolia',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'Namibia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'North Korea',
 'Portugal',
 'Paraguay',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'Somalia',
 'Serbia',
 'South Sudan',
 'Sao Tome and Principe',
 'Suriname',
 'Slovakia',
 'Slovenia',
 'Sweden',
 'Eswatini',
 'Seychelles',
 'Syria',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Timor-Leste',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'Saint Vincent and the Grenadines',
 'Venezuela',
 'Vietnam',
 'Vanuatu',
 'World',
 'Samoa',
 'Yemen',
 'South Africa',
 'Zambia',
 'Zimbabwe',
 'Afghanistan',
 'Angola',
 'Albania',
 'Andorra',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Switzerland',
 'Chile',
 'China',
 "Côte d'Ivoire",
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of Congo',
 'Cook Islands',
 'Colombia',
 'Comoros',
 'Cape Verde',
 'Costa Rica',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'European Union (27)',
 'Finland',
 'Fiji',
 'France',
 'Micronesia',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Guinea',
 'Gambia',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guyana',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'India',
 'Ireland',
 'Iran',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'Kiribati',
 'Saint Kitts and Nevis',
 'South Korea',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Liberia',
 'Libya',
 'Saint Lucia',
 'Liechtenstein',
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Morocco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Mexico',
 'Marshall Islands',
 'Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Montenegro',
 'Mongolia',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'Namibia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Niue',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'North Korea',
 'Portugal',
 'Paraguay',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'Somalia',
 'Serbia',
 'South Sudan',
 'Sao Tome and Principe',
 'Suriname',
 'Slovakia',
 'Slovenia',
 'Sweden',
 'Eswatini',
 'Seychelles',
 'Syria',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Timor-Leste',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'Saint Vincent and the Grenadines',
 'Venezuela',
 'Vietnam',
 'Vanuatu',
 'World',
 'Samoa',
 'Yemen',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [162]:
select_col=['Germany','Italy','Austria','Belgium','Lithuania','Bulgaria','Luxembourg','Cyprus','Malta','Coratia','Netherlands','Denmark','Poland','Spain','Portugal','Estonia','Romania','Finland','Slovakia','France','Slovenia','Greece','Ireland','Sweden','Hungary']

In [163]:
frames=[]

for i in select_col:
    data=df.loc[df.Country==i]
    frames.append(data)
ue = pd.concat(frames)           
ue['State']='EU'

In [164]:
sel_col2=['South Africa','Turkey','Saudi Arabia','Argentina','Australia','Brazil','Canada','South Korea','United States','India','Indonesia','Japan','Mexico','United Kingdom','Russia','China','Turkey']

In [165]:
frames=[]

for i in sel_col2:
    data=df.loc[df.Country==i]
    frames.append(data)
country = pd.concat(frames)

ue

,Unnamed: 0,Country,Data source,Sector,Gas,Unit,2018,2017,2016,2015,...,1997,1996,1995,1994,1993,1992,1991,1990,Somme,State
45,530,Germany,CAIT,Total excluding LUCF,CO2,MtCO₂e,709.54,732.20,747.15,742.31,...,870.90,902.75,873.09,875.81,887.01,892.75,932.37,955.31,47408.80,EU
239,2439,Germany,CAIT,Total excluding LUCF,F-Gas,MtCO₂e,10.28,11.09,11.90,12.10,...,8.31,8.26,7.82,8.02,8.41,6.57,6.80,7.44,579.82,EU
433,3286,Germany,CAIT,Total excluding LUCF,N2O,MtCO₂e,32.90,34.58,35.60,36.24,...,61.41,64.01,62.92,64.81,61.23,64.37,64.46,65.85,2729.10,EU
85,1009,Italy,CAIT,Total excluding LUCF,CO2,MtCO₂e,324.85,329.19,333.34,337.86,...,415.52,412.15,416.42,392.29,396.93,402.27,404.07,405.26,23550.04,EU
279,2559,Italy,CAIT,Total excluding LUCF,F-Gas,MtCO₂e,13.17,14.28,15.38,15.21,...,1.86,1.49,1.78,1.50,1.58,1.73,2.44,2.84,440.50,EU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2793,Sweden,CAIT,Total excluding LUCF,F-Gas,MtCO₂e,0.85,0.92,0.99,1.01,...,0.93,0.79,0.78,0.65,0.57,0.50,0.68,0.68,62.00,EU
552,4351,Sweden,CAIT,Total excluding LUCF,N2O,MtCO₂e,4.92,5.10,4.96,4.99,...,5.79,5.85,5.70,5.88,6.01,5.80,5.70,5.92,306.76,EU
77,913,Hungary,CAIT,Total excluding LUCF,CO2,MtCO₂e,46.39,46.55,44.48,43.38,...,56.99,58.46,57.43,57.78,58.38,58.00,64.55,67.42,3084.02,EU
271,2535,Hungary,CAIT,Total excluding LUCF,F-Gas,MtCO₂e,1.62,1.74,1.86,2.48,...,0.32,0.30,0.30,0.28,0.25,0.23,0.36,0.39,58.62,EU
465,3574,Hungary,CAIT,Total excluding LUCF,N2O,MtCO₂e,5.79,5.45,5.42,5.26,...,7.02,7.14,6.10,6.85,6.10,5.43,7.50,9.57,361.16,EU

In [166]:

ue.columns
ue=ue[['State','Country', 'Gas', '2018', '2017',
       '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008',
       '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999',
       '1998', '1997', '1996', '1995'
       ]]

In [167]:
df3=ue.pivot_table(index=['Country','State'], columns='Gas')
ue_2=df3.stack(0)
ue_2=pd.DataFrame(ue_2.to_records())
ue_2.rename(columns={'level_0':'Date'},inplace = True)
del ue_2['index']

KeyError: 'index'

In [168]:
ue_2

     Country State  Date    CO2  F-Gas   N2O
0    Austria    EU  1995  61.18   1.28  4.59
1    Austria    EU  1996  64.90   1.40  4.69
2    Austria    EU  1997  64.22   1.43  4.64
3    Austria    EU  1998  64.67   1.24  4.63
4    Austria    EU  1999  63.05   1.18  4.63
..       ...   ...   ...    ...    ...   ...
571   Sweden    EU  2014  39.10   1.06  4.92
572   Sweden    EU  2015  39.20   1.01  4.99
573   Sweden    EU  2016  38.79   0.99  4.96
574   Sweden    EU  2017  38.33   0.92  5.10
575   Sweden    EU  2018  36.00   0.85  4.92

[576 rows x 6 columns]

In [169]:
ue_2

     Country State  Date    CO2  F-Gas   N2O
0    Austria    EU  1995  61.18   1.28  4.59
1    Austria    EU  1996  64.90   1.40  4.69
2    Austria    EU  1997  64.22   1.43  4.64
3    Austria    EU  1998  64.67   1.24  4.63
4    Austria    EU  1999  63.05   1.18  4.63
..       ...   ...   ...    ...    ...   ...
571   Sweden    EU  2014  39.10   1.06  4.92
572   Sweden    EU  2015  39.20   1.01  4.99
573   Sweden    EU  2016  38.79   0.99  4.96
574   Sweden    EU  2017  38.33   0.92  5.10
575   Sweden    EU  2018  36.00   0.85  4.92

[576 rows x 6 columns]

In [170]:
country=country[['Country', 'Gas', '2018', '2017',
       '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008',
       '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999',
       '1998', '1997', '1996', '1995'
       ]]

df4=country.pivot_table(index=['Country'], columns='Gas')
country=df4.stack(0)
country=pd.DataFrame(country.to_records())
country.rename(columns={'level_0':'Date'},inplace = True)
del country['index']

KeyError: 'index'

In [171]:
country['State']='Not EU'

In [173]:
final_gas=pd.concat([country,ue_2],axis=0)

In [174]:
final_gas

       Country  Date     CO2  F-Gas    N2O   State
0    Argentina  1995  113.81   1.22  36.72  Not EU
1    Argentina  1996  126.56   1.67  37.02  Not EU
2    Argentina  1997  127.32   2.11  37.41  Not EU
3    Argentina  1998  133.17   2.53  37.04  Not EU
4    Argentina  1999  134.19   2.95  37.32  Not EU
..         ...   ...     ...    ...    ...     ...
571     Sweden  2014   39.10   1.06   4.92      EU
572     Sweden  2015   39.20   1.01   4.99      EU
573     Sweden  2016   38.79   0.99   4.96      EU
574     Sweden  2017   38.33   0.92   5.10      EU
575     Sweden  2018   36.00   0.85   4.92      EU

[960 rows x 6 columns]